@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: rgb(12, 11, 11);
    color: white; 
    font-family: 'Raleway', sans-serif;  
}

a {
    color: inherit;
    text-decoration: none;
  }
  
ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
img {
    max-width: 100%;
  }

  .test {
    display: none;
  }

  @media screen and (max-width: 321px) {
    .test {
      display: block;
    }
    .headr-nav {
      display: none;
    }
  }