// .main-container {
//     width: 1024px;
//     padding: 0px 20px;
//     margin-right: auto;
//     margin-left: auto;
// }

.main-container_background_photo {
    background-image: url(./img/fon2.svg);
    width: 100%;
    background-size: cover;
}

.makingOrder-container_background_photo {
    background-image: url(./img/fon3.svg);
    width: 100%;
    background-size: cover;
    background-color: rgb(40, 38, 51);
}