.header {
    padding: 30px 30px;
    background: rgba(16, 16, 29, 0.9);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headr-nav {
    width: 1280px;
    padding: 0px 10px;
    margin-right: auto;
    margin-left: auto;
}

.header-nav_logo {
    font-size: 28px;
    font-weight: 800;
}

.header-nav_logo span {
    color: #42A9ED;
}

.header-nav-list {
    display: flex;
}

.header-nav-link {
    font-size: 13px;
    font-weight: 600;
    margin-right: 60px;
}

.header-nav-link:hover {
    color: #42A9ED;
}