
body {
	font-family: "DM Sans", sans-serif;
	background-color: #f2f5f7;
	line-height: 1.5;
	min-height: 300vh;
	position: relative;
}


a {
	color: inherit;
}

:root {
	/* Banner */
	--banner-outer-height: 90px;
	--banner-inner-height: 50px;
	--banner-height-difference: calc(
		var(--banner-outer-height) - var(--banner-inner-height)
	);
	
	/* Header */
	--header-outer-height: 110px;
	--header-inner-height: 70px;
	--header-bg: #FFF;
}

.responsive-wrapper {
	width: 90%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

/* Sticky banner */
.banner-outer {
	/* Make it stick */
	height: var(--banner-outer-height);
	position: sticky;
	top: calc(var(--banner-height-difference) * -1); /* Multiply by -1 to get a negative value */
	display: flex;
	align-items: center;
	
	/* Other */ 
	z-index: 1;
}

.banner-inner {
	/* Make it stick */
	height: var(--banner-inner-height);
	position: sticky;
	top: 0;
	
	/* Other */
	align-items: center;
	justify-content: center;
	text-align: center;
}


.header {
    // position: fixed;
    // top: 0;
    // z-index: 100;
    // width: 100%;
    // padding: 30px 30px;
    background: rgba(16, 16, 29, 0.9);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headr-nav {
    width: 1024px;
    padding: 0px 10px;
    margin-right: auto;
    margin-left: auto;
}

.header-nav_logo {
    font-size: 28px;
    font-weight: 800;
}

.header-nav_logo span {
    color: #42A9ED;
}

.header-nav-list {
    display: flex;
}

.header-nav-link {
    font-size: 13px;
    font-weight: 600;
    margin-right: 60px;
}

.header-nav-link:hover {
    color: #42A9ED;
}

@media screen and (max-width: 500px) { 
    .MainHeading-heading {
        text-align: center;
    }
    .MainList {
        text-align: center;
    }

}