.footer {
    background-color: #3D4050;
}

.footer-container{
    width: 1024px;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    padding: 30px 10px;
    margin-right: auto;
    margin-left: auto;
}

.footer-qiwi {
    padding-left: 30px;
    background: url(./img/Vector.png) no-repeat;
    background-size: contain;
}

.footer-yandex {
    padding-left: 30px;
    background: url(./img/yandex.png) no-repeat;
    background-size: contain;
}

.footer-money {
    padding-left: 30px;
    background: url(./img/CombinedShape.png) no-repeat;
    background-size: contain;
}

.footer-mail {
    padding-left: 30px;
    background: url(./img/mail.png) no-repeat;
    background-size: contain;
}

.footer-vk {
    padding-left: 30px;
    background: url(./img/vk.png) no-repeat;
    background-size: contain;
}


@media screen and (max-width: 321px) { 
    .footer-separator {
        display: none;
    }
    .footer-container {
        width: 320px;
        flex-direction: column;
        align-items: center;
    }
    .footer-container div {
        margin-bottom: 20px;
    }


}